# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Env & secrets
.venv
.env
.env.local

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

#ai
rules.md
screenshots/
